<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>137417831943-nau9df2fuul2e8b788jfrh99ajk9vf9p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.137417831943-nau9df2fuul2e8b788jfrh99ajk9vf9p</string>
	<key>API_KEY</key>
	<string>AIzaSyAvXGBmPz501A3JLdYIeOF6vSJg3n6-bx8</string>
	<key>GCM_SENDER_ID</key>
	<string>137417831943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dandodds.Fitness-App</string>
	<key>PROJECT_ID</key>
	<string>fitness-app-35ff6</string>
	<key>STORAGE_BUCKET</key>
	<string>fitness-app-35ff6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:137417831943:ios:bc1078bcd6896ed2</string>
	<key>DATABASE_URL</key>
	<string>https://fitness-app-35ff6.firebaseio.com</string>
</dict>
</plist>